body.d9dev1 header:first-of-type {
  background-image: none !important;
  background-color: rgba(167,141,17,.36) !important;
}
body.d9dev2 header:first-of-type {
  background-image: none !important;
  background-color: rgba(167,17,141,.36) !important;
}
body.d9test header:first-of-type {
  background-image: none !important;
  background-color: rgba(17,101,167,.36) !important;
}
body.d9ref header:first-of-type {
  background-image: none !important;
  background-color: rgba(17,167,19,.5) !important;
}

/* Search-Kit Admin Layout */
div.crm-search fieldset legend {
	position: relative;
}